%div.block-header
	%div
%div.block-menu
-# %div.shadow-menu
-# %div.menu
-# 	%ul
-# 		%li#active
-# 			=#link_to 'главная', root_path, :class => 'menu-item', :rel => 'main'
-# 		%li
-# 			=#link_to 'галерея', '/', :class => 'menu-item', :rel => 'galleries'
-# 		%li
-# 			=#link_to 'контакти', '/', :class => 'menu-item', :rel => 'contact'
