%div.shadow-menu
%div.menu
  %ul
    %li#active
      =link_to 'главная', "#", :class => 'menu-item', :rel => 'home'
    %li
      =link_to 'галерея', '#gallery', :class => 'menu-item', :rel => 'galleries'
    %li
      =link_to 'контакти', "#contact", :class => 'menu-item', :rel => 'contact'