<div id="gamesHolder">
  <div id='coin-slider'>
    <a href="#1" >
      <img src='assets/slider/slide-2.jpg' >
    </a>
    <a href="#3">
      <img src='assets/slider/slide-3.jpg' >
    </a>
    <a href="#4">
      <img src='assets/slider/mini_ninjas.jpg' >
    </a>
    <a href="#5">
      <img src='assets/slider/jquery-640.jpg' >
    </a>
    <a href="#4">
      <img src='assets/slider/slide-1.jpg' >
    </a>
  </div>
</div>