<style>
    ul#itemContainer { list-style: none; padding:0; margin: 20px 0;  }
    ul#itemContainer li { display: inline-block; margin: 5px; zoom: 1; *display:inline; }
    ul#itemContainer ll li img { vertical-align: bottom; width: 125px; height: 125px; }
</style>

<br><br>

<a href="#" id="create_image" class="btn btn-primary"><i class="icon-gift icon-white"></i> Upload Image</a>

<!-- navigation holder -->
<!-- navigation panel -->
<div class="holder pagination">
</div>

<!-- item container -->

<ul id="itemContainer">
  {{#each model}}

    <li><img src="{{ path }}" alt="image"><br />
    <span class="label label-info" id="imgAverange-{{@index}}">{{this.averange}}</span><br />
    <input name="adv2" type="radio" class="rating wow-{{@index}}" rel="{{this.id}}" value="1"/>
    <input name="adv2" type="radio" class="rating wow-{{@index}}" rel="{{this.id}}" value="2"/>
    <input name="adv2" type="radio" class="rating wow-{{@index}}" rel="{{this.id}}" value="3"/>
    <input name="adv2" type="radio" class="rating wow-{{@index}}" rel="{{this.id}}" value="4"/>
    <input name="adv2" type="radio" class="rating wow-{{@index}}" rel="{{this.id}}" value="5"/>
    </li>
  {{/each}}
</ul>

<!-- navigation holder -->
<div class="holder pagination">
</div>
<br><br>
<script>
    $(function() {
        /* initiate plugin */
        $("div.holder").jPages({
            containerID: "itemContainer",
            perPage       : 5
        });
        //$('input.wow').rating();

        $.each( $('input.rating'), function(i,e){
            $('input.wow-'+i).rating({
                fx: 'full',
                loader: '/assets/ajax-loader.gif',
                url: '/rater',
                callback: function(responce){
                    var img_id =  $('input.wow-'+i).attr("rel");
                    var img_score = responce;
                    $.post("/rater",{id: img_id,score: img_score},function(data,status){
                        $('#imgAverange-'+i).text(data)
                    });
                    //this.vote_success.fadeOut(2000);
                    //console.log( responce );
                }
            });

        })

    });
</script>

<div id="new-container"></div>