!!!
%html
  %head
    %title WebIStar
    = stylesheet_link_tag :application
    = javascript_include_tag :application

    = csrf_meta_tag
  %body
    %div#body
      =render 'layouts/header'
      %div.block
        =render 'homepages/menu'
        = yield
